# Report Agent - 승연

# Legal Agent - 준희
Legal_Agent/logs
Legal_Agent/data 
Legal_Agent/test
Legal_Agent/database
Legal_Agent/Kanana_Model
Legal_Agent/**/ipynb_files/

# Stock Agent - 준희
Stock_Agent/logs
Stock_Agent/data 
Stock_Agent/test
Stock_Agent/database
Stock_Agent/debate
Stock_Agent/Kanana_Model
Stock_Agent/**/ipynb_files/

# News Agent - 현진

# Trend Agent - 예린