torch
transformers==4.46.3
tokenizers==0.20.3
accelerate==0.34.0
safetensors==0.4.5
langchain
langchain-huggingface
langchain-experimental
langchain-qdrant
langchain-core
langgraph
qdrant-client
sentence-transformers
tavily-python
pandas
tqdm
python-dotenv
selenium
webdriver-manager
openpyxl
beautifulsoup4
lxml
requests
